In [2]:
rows = int(input("Rows: "))
for i in range(1,rows+1):
  print("*"*rows)

Rows: 7
*******
*******
*******
*******
*******
*******
*******

In [6]:
rows = int(input("Rows: "))
for i in range(1,rows+1):
  print("*"*i)

Rows: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [9]:
rows = int(input("Rows: "))
for i in range(rows,0,-1):
  print("*"*i)

Rows: 10
**********
*********
********
*******
******
*****
****
***
**
*

In [11]:
rows = int(input("Rows: "))
for i in range(1,rows+1):
    print(" "*(rows-i)+"*"*i)

Rows: 10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [13]:
rows = int(input("Rows: "))
for i in range(1,rows+1):
    print(" "*(rows-i) + "*"*(2*i-1))

Rows: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [14]:
rows = int(input("Rows: "))
for i in range(rows,0,-1):
    print(" "*(rows-i) + "*"*(2*i-1))

Rows: 10
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [45]:
rows = int(input("Rows: "))
for i in range(1,int(rows/2)):
    print(" "*(rows-i) + "*"*(2*i-1))
for i in range(rows - int(rows/2),0,-1):
    print(" "*(rows-i) + "*"*(2*i-1))

Rows: 9
        *
       ***
      *****
    *********
     *******
      *****
       ***
        *

In [32]:
num = int(input("Number: "))
if num%2 == 0:
  print("Number is EVEN")
else:
  print("Number is ODD")

Number: 232323233
Number is ODD

In [40]:
num1 = int(input("Number1: "))
num2 = int(input("Number2: "))
num3 = int(input("Number3: "))

if num1>num2:
  if num1>num3:
    print("Number1 is the biggest number")
  else:
    print("Number3 is the biggest number")
else:
  if num2 >num3 :
    print("Number2 is the biggest number")
  else:
    print("Number3 is the biggest number")

Number1: 1
Number2: 3
Number3: 2
Number2 is the biggest number

In [42]:
num = int(input("Number: "))
sum = 0;
for i in range(1,num+1):
  sum += i
print(sum)

Number: 10
55